@use './variaveis.scss' as *;
.coluna{
    background-color: $background;
    border:1px solid #000000;
    padding: 1rem;
    min-height: 400px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 320px;

    
}