@use './variaveis.scss' as *;

.conteudoTarefa {
    background-color: $background;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem;

    .titulo {
        color: $cor-destaque;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
    }

    .inputsTarefas {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .inputTarefa {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 0.4rem;
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
            }

            input {
                padding: 0.6rem;
                width: 22rem;
                border-radius: 0.5rem;
                border: 1px solid #aaaaaa;

                &:focus {
                    border-color: #006e99;
                    outline: none;
                    box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
                }
            }
        }
    }

    .selectsTarefa {
        display: flex;
        flex-direction: column;


        label {
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
            margin-top: 2rem;
        }

        select {
            width: 22rem;
            height: 2.5rem;
            border: 1px solid $cor-destaque;
            border-radius: 10px;
            padding-left: 0.5rem;
            font-size: 1rem;

            &:focus {
                border-color: #006e99;
                outline: none;
                box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
            }
        }
    }


    .botaoTarefa {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        button {
            width: 10rem;
            height: 2.7rem;
            font-size: 1rem;
            background-color: #006e99;
            color: white;
            border-radius: 0.5rem;
            cursor: pointer;
            border: none;
            transition: all 0.3s ease;
            font-weight: 500;
        }

        button:hover {
            background-color: #005475;
            transform: translateY(-2px);
            box-shadow: 0 4px 12px rgba(63, 81, 181, 0.2);
        }

    }
}

.text-sweetalert{
    font-family: 'Poppins',sans-serif;
}
